footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-top: 30px;
}

.keyboard {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.keyboard_key {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #d3d6da;
  border-radius: 10px;
  width: 45px;
  height: 60px;
  font-weight: bolder;
}

.keyboard_key img {
  width: 30px;
}

#enter {
  width: 90px;
}

#backspace {
  width: 90px;
}
