main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-weight: bolder;
}

.time {
  margin-bottom: 10px;
  font-weight: bold;
}

.bord-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.bord-block {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #d3d6da;
  width: 60px;
  height: 60px;
}
